+++
title = "Container Basics Training"
linkTitle = "Container Basics Training"

+++

{{< blocks/cover title="Welcome to the Container Basics Training" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/setup" >}}">
		Setup <i class="fas fa-cogs ml-2 "></i>
        </a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Labs <i class="fas fa-flask ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/slides" >}}">
		Slides <i class="fas fa-chalkboard-teacher ml-2 "></i>
	</a>
	<p class="lead mt-5">Show more!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="dark" %}}
[Docker](https://www.docker.com/products/container-runtime) is a set of platform as a service (PaaS) products that uses OS-level virtualization to deliver software in packages called containers.
{{% /blocks/lead %}}

{{< blocks/section color="light">}}

{{% blocks/feature icon="fa-cogs" title="Setup" url="/setup/" %}}
Start with the setup
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-flask" title="Labs" url="/docs/" %}}
Start with the training
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chalkboard-teacher" url="/slides/" title="Slides" %}}
Get the slides for this training
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-sliders-h" title="About" url="/about/" %}}

{{% /blocks/feature %}}

{{< /blocks/section >}}
